*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
  /*border: 1px dotted firebrick;*/
}

/* Base Styles */
html {
  font-size: 60%; }
body {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 100;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #eee;
  background-color: #fff;
}
.container, div {
  padding: 0;
}

/* Typography */
li {
  display: inline;
  color: #222;
  padding: 0px 10px 0px 10px;
}
h1, h2, h3 { font-family: 'Roboto'; }
h3 { color: #666; }
span { color: #999; }

h4, h5, h6 { font-family: 'Source Sans Pro'; }
h4 {
  font-size: 1.4em;
  line-height: 1.6em;
  font-stretch: normal;
}
h5 {
  font-size: 1.2em;
  line-height: 1.2em;
  font-stretch: expanded;
}
a { color: #1EAEDB; }
a:hover { color: #0FA0CE; }

/*Layout*/
.nav {
  background: #fff;
  height: 70px;
  border: 1px solid #ccc;
  margin: 0px;
  z-index: 1000;
}
.top-box {
  padding: 0;
  z-index: 0;
}
.top-pic {
  background-image: url("../images/img1.png");
  background-size: 150%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #000;
  height: 27em;
  z-index: 1;
  position: relative;
}
.top-cap {
  position: absolute;
  bottom: 1em;
  left: 5vw;
  width: 45%;
  border: 0px;
  padding-left: 5%;
  background-color: #0e1c5e;
  z-index: 100;
}
.row {
  height: 9em;
  margin: 0;
  padding:0;
}
.mid-pic {
  background-image: url("../images/img2.png");
  background-size: 150%;
  background-repeat: no-repeat;
  height: 9em;
  padding: 0;
}
.mid-cap, .end-cap {
  height: 9em;
  padding-top: 0.8em;
}
.mid-cap { background-color: #995e8d; }
.end-cap { background-color: #4e4a52; }

.end-pic {
  background-image: url("../images/img3.png");
  background-size: 125%;
  background-repeat: no-repeat;
  height: 9em;
}
.nav {
  line-height: 70px;
}
.nav > div {
  display: inline;
  top: 0px;
  padding: 3px;
}

/* Custom styles */
.nav-left > h3 {
  margin-left: 10px;
}

.nav-right > img {
  position: absolute;
  right: 10px;
  top: 35px;
  transform: translate(0,-50%);
}
#Googol {
  width: 85px;
}
#Menu { display: none; }
#Hamburger { width: 30px; }
#Search {
  width: 20px;
  transform: translate(-200%,-50%);
 }


/* Media Queries */

@media screen and (min-width: 320px) {
  .top-cap {
    padding: 2em;
  }
}
@media screen and (min-width: 728px) {
  h4 {
    font-size: 2.1em;
    line-height: 1.8em;
    font-stretch: expanded;
  }
  .top-cap {
    bottom: 4em;
  }
  .top-cap::after {
    content: 'Store foot traffic surged on Black Friday.';
  }
  .mid-cap, .end-cap {
    padding-top: 1.5em;
  }
}
@media screen and (min-width: 1199px) {
  #Hamburger {
    display: none;
  }
  #Menu {
    list-style-type: none;
    display: inline;
  }
  .top-pic {
    height: 100vh;
  }
  .row {
    height: 50vh;
  }
  .row > div {
    height: 25vh;
  }
}
