*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

/** {border: 1px dotted blue;}*/

/* Base Styles */
html {
  font-size: 60%; }
body {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 100;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #eee;
  background-color: pink
}
.container, div {
  padding: 0;
}
/*.col-xs-4, .col-xs-8 {
  float: left;
}*/
/* Typography */

h1, h2, h3 {
  font-family: 'Roboto';
  /*margin-top: 0;
  margin-bottom: 0em;*/
  /*color: #eee;*/
  }
h3 {
  color: #666;
}
span {
  color: #999;
}
h4 {font-size: 1.4em;
line-height: 1.4em;
font-stretch: expanded;}
h5 {font-size: 1.2em;
line-height: 1.2em;
font-stretch: expanded;}
h4, h5, h6 {font-family: 'Source Sans Pro';}

a { color: #1EAEDB; }
a:hover { color: #0FA0CE; }

/*Layout*/

.nav {
  background: #fff;
  height: 70px;
  border: 1px solid #ccc;
  margin: 0px;
  z-index: 1000;
}

.top-box {
  padding: 0;
  z-index: 0;
}

.top-pic {
  background-image: url("../images/y0_vfxohayg-wesson-wang.jpg");
  background-size: 150%;
  background-position: center top;
  height: 27em;
  z-index: 1;
  position: relative;
}
.top-cap {
  position: absolute;
  bottom: 2em;
  left: 5%;
  width: 90%;
  padding: 1em;
  background-color: #0e1c5e;
  z-index: 100;
}
.row {
  height: 9em;
  margin: 0;
  padding:0;
}
.mid-pic {
  background-image: url("../images/gwvmbgpp-pq-steinar-la-engeland.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  height: 9em;
  padding: 0;
}
.mid-cap {
  background-color: #995e8d;
  height: 9em;
}
.end-cap {
  background-color: #4e4a52;
  height: 9em;
}
.end-pic {
  background-image: url("../images/rhvd9wlno_i-niklas-veenhuis.jpg");
  background-size: 125%;
  background-repeat: no-repeat;
  height: 9em;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav > div {
  display: inline;
  line-height: 70px;
  top: 35px;
}

/* Custom styles */
#Glogo { width: 85px;
  padding-right: 10px;
 }
#Search { width: 20px; }
#Menu { width: 30px; }


/* Media Queries */
/* For devices Mobile S or smaller */

@media screen and (max-width: 320px) {
  .nav {
    background-color: white;
  }


}

/* For devices larger than Mobile S */
@media screen and (min-width: 321px) {
  .nav {
    background-color: greenyellow;
  }
}

/* For devices larger than Tablet */
@media screen and (min-width: 769px) {
  .nav {
    background-color: wheat;
  }
}
