*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

/* Base Styles */
html {
  font-size: 60%; }
body {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 100;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #222;
  background-color: pink
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  /*margin-top: 0;
  margin-bottom: 0em;*/
  color: red;
  }
h4, h5, h6 {font-family: 'Source Sans Pro';}

a { color: #1EAEDB; }
a:hover { color: #0FA0CE; }

/*Layout*/

.nav {
  background: #fff;
  width: 320px;
  height: 70px;
  border: 1px solid #ccc;
  margin-bottom: 0px;
  z-index: 1000;
}

.top-box {
  z-index: 0;
}

.top-pic {
  background-image: url("../images/y0_vfxohayg-wesson-wang.jpg");
  width:100px;
  /*background-size: cover;*/
  /*transform: translate(-50%,-50%);*/
  z-index: 1;
}
.top-cap {
  background-color: #444;
  z-index: 100;
}

.mid-pic {
  background-image: url("../images/gwvmbgpp-pq-steinar-la-engeland.jpg");
  width:100px;
  /*background-size: cover;*/
}
.end-pic {
  background-image: url("../images/rhvd9wlno_i-niklas-veenhuis.jpg");
  width:100px;
  /*background-size: cover;*/
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav > div {
  display: inline;
  line-height: 70px;
  top: 35px;
}

/* Custom styles */
#Glogo { width: 85px;
  padding-right: 10px;
 }
#Search { width: 20px; }
#Menu { width: 30px; }


/* Media Queries */
/* For devices Mobile S or smaller */

@media screen and (max-width: 320px) {
  .nav {
    background-color: white;
  }


}

/* For devices larger than Mobile S */
@media screen and (min-width: 321px) {
  .nav {
    background-color: greenyellow;
  }
  /*img {
    width:100vw;
    height: auto;
  }*/
}

/* For devices larger than Tablet */
@media screen and (min-width: 769px) {
  .nav {
    background-color: wheat;
  }
  /*img {
    width:100vw;
    height: auto;
  }*/
}
